<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your Favourite Sushi</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  </head>

  <body>
    <!-- Nav Bar -->
    <% include ./partials-layout/navbar %>

    <!-- Header -->
    <% include ./partials-layout/header %>

    <!-- Content -->
    <div class="container-fluid content-body">
      <div>
        <!-- Left Column -->
        <div class="col-sm-3">
          <% include ./partials-layout/form %>
        </div>

        <!-- Center Column -->
        <div class="col-sm-9 center-column">
          <%- body %>
        </div>
     </div>
   </div>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous">
    </script>
  </body>
</html>
