<!-- Filter Panel - Left column -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">
      <span class="glyphicon glyphicon-filter"></span>
      My SUPER favourites
    </h1>
  </div>

  <div class="panel-body">
    <div class="col-xs-12 filter-img">
      <% for (var i in sushis){ %>
        <% if (sushis[i].status == "SUPER favourite"){ %>
          <div>
            <img  class="img-responsive commenterImage"
                  onerror="this.src='./images/noImage.jpg'"
                  src="<%= sushis[i].photoUrl %>"
            />
          </div>
        <% } %>
      <% } %>
    </div>
  </div>
</div>

