<!-- Filter Panel - Left column -->
<div class="panel panel-danger">
  <div class="panel-heading">
    <h1 class="panel-title">
      <span class="glyphicon glyphicon-heart"></span>
      <span class="glyphicon glyphicon-heart"></span>
      My SUPER favourites
    </h1>
  </div>

  <div class="panel-body filter-img col-xs-offset-1">
    <!-- <div class="col-md-8 col-md-offset-2 filter-img"> -->
      <% for (var i in sushi){ %>
        <% if (sushi[i].status == "SUPER favourite"){ %>
          <div>
            <img  class="img-responsive commenterImage"
                  onerror="this.src='./images/noImage.jpg'"
                  src="<%= sushi[i].photoUrl %>"
            />
          </div>
        <% } %>
      <% } %>
    <!-- </div> -->
  </div>
</div>

<!-- Filter Panel - Left column -->
<div class="panel panel-warning">
  <div class="panel-heading">
    <h1 class="panel-title">
      <span class="glyphicon glyphicon-heart"></span>
      favourites
    </h1>
  </div>

  <div class="panel-body filter-img col-xs-offset-1">
  <!--   <div class="col-xs-12 filter-img"> -->
      <% for (var i in sushi){ %>
        <% if (sushi[i].status == "favourite"){ %>
          <div>
            <img  class="img-responsive commenterImage"
                  onerror="this.src='./images/noImage.jpg'"
                  src="<%= sushi[i].photoUrl %>"
            />
          </div>
        <% } %>
      <% } %>
 <!--    </div> -->
  </div>
</div>

