<% if (error && error.length > 0) { %>
  <div class="alert alert-danger"><%= errors %></div>
<% } %>

<% if (success && success.length > 0) { %>
  <div class="alert alert-success"><%= success %></div>
<% } %>