<h1>Sushi Lovers</h1>
<!-- Form Panel - left column-->

<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Add your Favourite Sushi
    </h1>
  </div>

  <div class="panel-body">
    <fieldset>
      <legend>Add your Favourite Sushi</legend>
      <form action='/sushi' method='post'>
        <div class="form-group">
          <input name="sushi[sushi_name]" class="form-control" placeholder="*Name your Sushi"/>
        </div>
        <div class="form-group">
          <input name="sushi[where]" class="form-control" placeholder="Where did you have it?"/>
        </div>

        <div class="form-group">
          <input name="sushi[photoUrl]" class="form-control" placeholder="http://www.yourphoto.png"/>
        </div>

        <div class="form-group">
          <textarea name="sushi[comment]" class="form-control" rows="4" placeholder="*Your thoughts"></textarea>
        </div>

        <div class="form-group">
          <button class="btn btn-info col-md-12">Add your sushi</button>
        </div>
      </form>
    </fieldset>
  </div>
</div>
