<% include ./partials/header %>

<div class="container">
  <h1>Sushi Lovers</h1>
</div>

<div class="container-fluid">
  <!-- Left Column -->
  <div class="col-sm-3">
    <% include ./partials/form %>
  </div>

  <!-- Center Column -->
  <div class="col-sm-9">
    <% include ./partials/populateSushi %>
  </div>
</div>
