<!-- Header -->
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>What's your favourite sushi?</h1>
          <h3>Tell us all about it</h3>
          <hr class="intro-divider">
        </div> <!-- intro-message -->
      </div> <!-- col-lg-12 -->
    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- intro-header -->
